In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/something_new.csv")

In [4]:
df.drop(columns=['Allocation','Year','Distance_x','Demand (km)'], inplace=True)

In [5]:
# we have 204 items in the dataset
# a random example solution in chromosome representation: 0 1 0 1 0 0 1 1....... 0 1 1
# constraint --> total carbon emissions of the picked vehicles should be less than threshold giveb meet demand for each vehicle type
# objective --> minimize cost

In [6]:
df.rename(columns={'Distance_y':'Distance'}, inplace=True)

In [7]:
df

,Size,ID,Vehicle,Cost ($),Yearly range (km),Distance,Operating Year,Fuel,carbon_emissions,insurance_cost,maintenance_cost,fuel_costs,Type,Cost
0,S1,BEV_S1_2023,BEV,187000,102000,D1,2023,Electricity,0.000000,9350.0,1870.00,17470.316221,Buy,187000.0
1,S1,BEV_S1_2023,BEV,187000,102000,D1,2023,Electricity,0.000000,9350.0,1870.00,17470.316221,Sell,168300.0
2,S1,BEV_S1_2023,BEV,187000,102000,D1,2023,Electricity,0.000000,9350.0,1870.00,17470.316221,Use,0.0
3,S1,Diesel_S1_2023,Diesel,85000,102000,D4,2023,B20,69347.975963,4250.0,850.00,27771.219051,Buy,85000.0
4,S1,Diesel_S1_2023,Diesel,85000,102000,D4,2023,B20,69347.975963,4250.0,850.00,27771.219051,Sell,76500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,LNG,29914.034489,7556.8,1511.36,12171.891758,Sell,136022.4
200,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,LNG,29914.034489,7556.8,1511.36,12171.891758,Use,0.0
201,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,BioLNG,4549.567924,7556.8,1511.36,13077.698068,Buy,151136.0
202,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,BioLNG,4549.567924,7556.8,1511.36,13077.698068,Sell,136022.4
203,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,BioLNG,4549.567924,7556.8,1511.36,13077.698068,Use,0.0

In [8]:
df.to_csv('data/something_new_new.csv')

In [9]:
df

,Size,ID,Vehicle,Cost ($),Yearly range (km),Distance,Operating Year,Fuel,carbon_emissions,insurance_cost,maintenance_cost,fuel_costs,Type,Cost
0,S1,BEV_S1_2023,BEV,187000,102000,D1,2023,Electricity,0.000000,9350.0,1870.00,17470.316221,Buy,187000.0
1,S1,BEV_S1_2023,BEV,187000,102000,D1,2023,Electricity,0.000000,9350.0,1870.00,17470.316221,Sell,168300.0
2,S1,BEV_S1_2023,BEV,187000,102000,D1,2023,Electricity,0.000000,9350.0,1870.00,17470.316221,Use,0.0
3,S1,Diesel_S1_2023,Diesel,85000,102000,D4,2023,B20,69347.975963,4250.0,850.00,27771.219051,Buy,85000.0
4,S1,Diesel_S1_2023,Diesel,85000,102000,D4,2023,B20,69347.975963,4250.0,850.00,27771.219051,Sell,76500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,LNG,29914.034489,7556.8,1511.36,12171.891758,Sell,136022.4
200,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,LNG,29914.034489,7556.8,1511.36,12171.891758,Use,0.0
201,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,BioLNG,4549.567924,7556.8,1511.36,13077.698068,Buy,151136.0
202,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,BioLNG,4549.567924,7556.8,1511.36,13077.698068,Sell,136022.4
203,S3,LNG_S3_2023,LNG,151136,73000,D4,2023,BioLNG,4549.567924,7556.8,1511.36,13077.698068,Use,0.0